* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: #F9F8FE;
}

/* ------------------------------------------------------------- Home página ------------------------------------------------------------------ */

.header {
    width: 100%;
    height: 192px;
}

.first-section {
    width: 993px;
    height: 129px;
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-left: 20px;
}

.logo {
    display: flex;
    width: 253px;
    height: 44px;
    margin-top: 45px;
    margin-left: 90px;
    color: #C92071;
    gap: 10px;
    cursor: pointer;
}

.logo svg {
    width: 21px;
    height: 33px;
    margin-top: -3px;
}


.buscar {
    width: 709px;
    height: 60px;
    top: 34px;
    margin-left: -60px;
    border-radius: 8px;
}

.buscar input {
    width: 559px;
    height: 40px;
    margin-top: 22px;
    left: 384px;
    border-radius: 8px;
    padding: 0px;
    opacity: 80%;
    background: #f0f0f0;
    border: none;
    outline: 0;
}

input[type=text] {
    padding: 5px 20px;
}

.buscar input::placeholder {
   font-family: Inter;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: 0.75px;
   text-align: left;
   padding: 8px;
}

.buscar .cadastro {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    margin-left: 625px;
    margin-top: -23px;
    letter-spacing: 0.75px;
    color: #474747;
}

.buscar .cadastro:hover {
    text-decoration: underline;
}

.search {
    display: flex;
    margin-left: 570px;
    margin-top: -36px;
    cursor: pointer;
}


button {
    width: 114px;
    height: 30px;
    display: flex;
    border-radius: 5px;
    background: #C92071;
    color: #FFFFFF;
    outline: 0;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;


}

.btn-header{
    margin-top: -65px;
    margin-left: 1050px;
}

.cart img {
    display: flex;
    margin-top: -28px;
    margin-left: 1240px;
    cursor: pointer;
}

.menu li{
    display: flex;
    margin-left: -195px;
    margin-top: 55px;
    text-decoration: none;
    gap: 20px;
    font-size: 18px;
}

.menu a {
    color: #474747;
}

.menu a:hover {
    color: #C92071;
    text-decoration: underline;
}

.content-main {
    width: 100vw;
    height: 681px;
    margin-top: 0px;
    background: #F5F5F5;
    display: flex;

}

.text-main {
    width: 1303px;
    height: 398px;
    margin-left: 100px;
    margin-top: 48px;
}

.text-main h3 {
    width: 280px;
    height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: left;
    color: #F6AA1C;
    margin-top: 85px;
}

.text-main h1 {
    width: 510px;
    height: 132px;
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
    size: 100px;
    margin-top: 15px;
}

.text-main p {
    width: 495px;
    height: 68px;
    margin-top: 25px;
    font-size: 18px;
}

.text-main button {
    width: 220px;
    height: 48px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
    margin-left: 0px;
    margin-top: 40px;
}

.tenis {
    display: flex;
    width: 865.51px;
    height: 730.61px;
    margin-left: 400px;
    margin-top: -500px;
}

.ornamento {
    width: 140px;
    height: 140px;
    margin-left: 1220px;
    display: flex;
    opacity: 0.4px;
    margin-top: -560px;
}

.rover-paginas {
    display: flex;
    width: 78px;
    height: 12px;
    margin-top: -95px;
    margin-left: 621px;

}

/* .catalogo-destaque {
    width: 100vw;
    height: 450px;
    background-color: aqua;
    position:absolute;
} */

.catalogo-destaque {
    background-color: #F9F8FE;
    position: absolute;
}

#cards {
    width: 100vw;
    height: 251px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#cards .card {
    width: calc( 29% - 10px);
    border-radius: 8px;
    background-color: #D8E3F2;
    margin-top: 15px;
}

#cards .card-catalogo {
    width: 405px;
    height: 251px;
}

.h1-title {
    margin-left: 100px;
    margin-top: 35px;
    font-size: 24px;
    line-height: 36px;
}

#cards .btn-catalogo {
    width: 153px;
    height: 48px;
    color: #C92071;
    background-color: #FFFFFF;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 25px;
    position: absolute;
}

#cards .card .card-title {
    width: 172px;
    height: 72px;
    font-size: 32px;
    margin-left: 25px;
    margin-top: 30px;
}

#cards img {
    width: 280px;
    height: 260px;
    display: flex;
    margin-left: 155px;
    margin-top: -143px;
}

#cards .card-sale {
    width: 95px;
    height: 32px;
    background-color: #E7FF86;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    margin-top: 35px;
}

.catalogo-menu {
    width: 100vw;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalogo-menu h1 {
}

#cards-menu {
    width: 712px;
    height: 180px;
    display: flex;
    margin-top: 15px;
}

.title-menu {
    font-size: 24px;
}

.card-menu {
    width: 104px;
    height: 138px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F8FE;
    gap: 15px;
}

.card-menu h4 {
    margin-left: 28px;
}

.card-img {
    width: 104px;
    height: 104px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 150px;
}


@media(max-width: 400px) {

    header {
        width: 375px;
        height: 66px;
        gap: 10px;
    }

    .first-section {
        width: 375px;
        height: 45px;
    }

    .content-main {
        width: 100%;
        height: 662px;
        margin-top: 110px;
        background-color: #C92071;
        display: row;
    }

    .logo {
        display: flex;
        margin-top: 105px;
        margin-left: 355px;
        height: 24px;
        color: #C92071;
        gap: 10px;
        cursor: pointer;
        background-color: #474747;
    }

    .buscar input{
        background-color: transparent;
        color: transparent;
        margin-top:-30px;
    }

    .header .menu li a{
        color: transparent;
    }

}


#headerHome {
    width: 100%;
    height: 192px;
    background-color: #FFFFFF;
    display: flex;
}

#logoHome {
    display: flex;
    margin-top: 6px;
}

#caixaLogoPesquisar {
    width: auto;
    height: 129px;
    margin-top: 34px;
    margin-left: 100px;
    display: flex;
}

#barraDePesquisa {
    background-color: #47474709;
    width: 700px;
    height: 60px;
    border-radius: 8px; 
    margin-left: 28px;
}

#inputPesquisar {
    margin-top: 16px;
    margin-left: 24px;
    width: 85%;
    height: 28px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    outline: none;
    display: flex;
}

#botaoCadastrarHome {
    margin-top: 16px;
    margin-left: 48px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #474747;
    text-decoration: none;
    border-bottom: solid #47474780 2px;
    height: 22px;
}

#lupaBuscar {
    display: flex;
    margin-left: 662px;
    margin-bottom: 20px;
}

#listaDeProdutos {
    width: 90%;
    margin: auto;
}

#tabelaP {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
}

#produtosEmAlta {
    display: flex;
    position: absolute;
}

#verTodos {
    display: flex;
    position: absolute;
    margin-left: 84%;
}

#verTodosTexto {
    margin-top: 3px;
    font-size: 16px;
    color: #C92071;
    font-weight: 500;
    letter-spacing: 0.75px;
}

.produtoItem {
    width: 250px;
    margin-bottom: 120px;
    margin-top: 40px;
}

#listaProduto1{
    width: 250px;
    height: 250px;

    background-color: #FFFFFF;
}

#produtoTipo {
    display: flex;
    position: absolute;
    margin-top: 12px;
    font-size: 12px;
    font-weight: bolder;
    color: #777777;
    letter-spacing: 0.75px;

}

#produtoNome {
    display: flex;
    position: absolute;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400px;
}

#produtoValor {
    display: flex;
    position: absolute;
    margin-top: 60px;
    font-weight: bolder;
    font-size: 24px;
}

#produtoValor span {
    color: #777777;
    text-decoration: line-through;
    margin-right: 5px;
    font-weight: 100;
}

#imgTenis {
    width: 250px;
}

#ofertaEspecial {
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 160px;
    height: 700px;
    display: flex;
}

#ofertaAnimacao{
    background-image: linear-gradient(#4200FF25, #FFFFFF00);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-left: 120px;
    margin-top: 90px;
    display: flex;
    position: absolute;
    opacity: 60%;
}

#fotoOferta {
    display: flex;
    margin-left: 40px;
    margin-top: 150px;
    position: absolute;
    width: 750px;
}

#ofertaEspecialDesc {
    display: block;
    margin-left: 880px;
    margin-top: 120px;
    height: 300px;
    position: absolute;
}

#ofertaEspecialDesc h4 {
    color: #C92071;
    font-weight: bold;
    letter-spacing: 0.75px;
    margin-bottom: 20px;
}

#ofertaEspecialDesc h2 {
    font-size: 60px;
    color: #474747;
    margin-bottom: 40px;
}

#ofertaEspecialDesc p {
    font-size: 18px;
    letter-spacing: 0.75px;
    color: #474747;
    font-weight: 400;
}

#ofertaBotao {
    width: 180px;
    height: 36px;
    background-color: #C92071;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.75px;
    border: none;
    margin-top: 470px;
    margin-left: 880px;
    position: absolute;
}

/* --------------------------------------------------------------------- Footer -----------------------------------------------------------------------------*/

footer {
    background-color: #1F1F1F;
    width: 100%;
    height: 454px;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
}

#footerDiv1 {
    margin-top: 65px;
    width: 307px;
    display: block;
    position: absolute;
    margin-left: 10%;
}

#footerDiv2 {
    display: block;
    position: absolute;
    margin-top: 65px;
    margin-left: 35%;
}

#footerDiv3 {
    display: block;
    position: absolute;
    margin-top: 65px;
    margin-left: 60%;
}

#footerDiv4 {
    display: block;
    position: absolute;
    margin-top: 65px;
    margin-left: 80%;
}

#footerLorem {
    margin-top: 35px;
}

footer i {
    margin-top: 40px;
    margin-right: 30px;
}


footer p {
    margin-top: 20px;
    font-weight: 400;
}

footer h3 {
    margin-bottom: 36px;
}

#dadosContato {
    line-height: 26px;
}

#linhaFooter {
    display: block;
    position: absolute;
    background-color: darkgray;
    opacity: 40%;
    width: 80%;
    margin-left: 10%;
    height: 1px;
    margin-top: 380px;
}

footer h5 {
    font-size: 13px;
    color: #777777;
    margin: auto;
    margin-top: 410px;
}